body{
	background-color: black;
}
div{
	margin: 0;
}
.container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
h1, span, p, label, li{
	color: white;
}
ul{
	list-style-type: none;
}
li{
	margin-top: 5px;
}
.question{
	display: inline-block;
}
.submit{
	margin-top: 20px;
	text-align: center;
}